.swiper-pagination {
  position: absolute;
  text-align: center;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 7px 42px;
  margin: 0;
}
@media (max-width: 768px) {
  .swiper-pagination {
    padding: 4px 12px;
  }
}
.swiper-pagination-bullet {
	border-radius: 0;
	width: auto;
	height: 25px;
	opacity: 1;
  background: rgba(255, 255, 255, 0);
}
.swiper-pagination-bullet-active {
  color: #fff;
  background: rgba(255, 255, 255, 0);
}